<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="jumbotron">
    <h1>404</h1>
    <p>Your request url is not exist, please confirm the right one</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></p>
</div>
</body>