
<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/js/jquery.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>
<script src="/js/bootstrap.js"></script>

<!-- page specific plugin scripts -->
<script src="/js/dataTables/jquery.dataTables.js"></script>
<script src="/js/dataTables/jquery.dataTables.bootstrap.js"></script>
<script src="/js/dataTables/extensions/buttons/dataTables.buttons.js"></script>
<script src="/js/dataTables/extensions/buttons/buttons.flash.js"></script>
<script src="/js/dataTables/extensions/buttons/buttons.html5.js"></script>
<script src="/js/dataTables/extensions/buttons/buttons.print.js"></script>
<script src="/js/dataTables/extensions/buttons/buttons.colVis.js"></script>
<script src="/js/dataTables/extensions/select/dataTables.select.js"></script>

<!-- ace scripts -->
<script src="/js/ace/elements.scroller.js"></script>
<script src="/js/ace/elements.colorpicker.js"></script>
<script src="/js/ace/elements.fileinput.js"></script>
<script src="/js/ace/elements.typeahead.js"></script>
<script src="/js/ace/elements.wysiwyg.js"></script>
<script src="/js/ace/elements.spinner.js"></script>
<script src="/js/ace/elements.treeview.js"></script>
<script src="/js/ace/elements.wizard.js"></script>
<script src="/js/ace/elements.aside.js"></script>
<script src="/js/ace/ace.js"></script>
<script src="/js/ace/ace.ajax-content.js"></script>
<script src="/js/ace/ace.touch-drag.js"></script>
<script src="/js/ace/ace.sidebar.js"></script>
<script src="/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="/js/ace/ace.submenu-hover.js"></script>
<script src="/js/ace/ace.widget-box.js"></script>
<script src="/js/ace/ace.settings.js"></script>
<script src="/js/ace/ace.settings-rtl.js"></script>
<script src="/js/ace/ace.settings-skin.js"></script>
<script src="/js/ace/ace.widget-on-reload.js"></script>
<script src="/js/ace/ace.searchbox-autocomplete.js"></script>




<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="/css/ace.onpage-help.css" />
<link rel="stylesheet" href="../docs/assets/js/themes/sunburst.css" />

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="/js/ace/elements.onpage-help.js"></script>
<script src="/js/ace/ace.onpage-help.js"></script>





<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>