<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar                  responsive">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li class="">
            <a href="/">
                <span class="menu-text" style="font-family: Microsoft YaHei;"> 日记列表 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="/post">
                <span style="font-family: Microsoft YaHei;" class=" menu-text"> 写日记 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="/blog">
                <span style="font-family: Microsoft YaHei;" class=" menu-text"> 博客 </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <span style="font-family: Microsoft YaHei;" class="menu-text"> 留待用 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a style="font-family: Microsoft YaHei;" href="elements.html">
                        留待用
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a style="font-family: Microsoft YaHei;" href="buttons.html">
                        留待用
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>